@CHARSET "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
	text-decoration:none;
	color: #000;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#444;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}
.flex{
	display: flex;
}
.select{
	border: 0;
	background-color: #000;
	color: #fff;
  transition: .5s;
}
/* Custom CSS
 * --------------------------------------- */
body{
	background: url(images/resource-database-9U0EqGccnRA-unsplash.jpg);
	background-size: cover;
	font-family: 'notosansKR',helvetica;
}
#header{
  position:fixed;
	height: 70px;
	width: 100%;
	right: 0;
	z-index:9;
	text-align:center;
	background: #fff;
	color: #f2f2f2;
	width: 300px;
	height: 288px;
	border-radius: 50%;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	box-sizing: border-box;
	background-color: transparent;
	background: url(images/resource-database-9U0EqGccnRA-unsplash.png) no-repeat;
	background-size: cover;
	backdrop-filter: blur(10px);
}
#header a{
	line-height: 70px;
	box-sizing: border-box;
	display: inline-block;
	width: 50%;
	text-align: center;
	border: 1px solid transparent;
	border-radius: 30%;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
}
#header a.on{
	background-color: #fff;
	width: 50%;
	border-radius: 50%;
	text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
}
#header a:hover{
	background-color: #fff;
	width: 50%;
	border-radius: 50%;
	text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
}
.section{
	text-align:center;
  width: 100%;
  height: 969px;
  margin: 0 auto;
  position: relative;
  outline: 1px solid red;
}
#section0{
	position: relative;
}
.section h1{
  font-size: 5em;
	color: #fff;
	text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
}
@keyframes opacity{
	50%{opacity: 0;}
}
#section0 h1{
	animation: opacity 2s forwards;
	padding-bottom: 20px;
}
#section0 p{
	font-size: 2em;
	color: #fff;
	text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
	animation: opacity 4s forwards;
}
#sectio0 p strong{
	color:#000 ;
}
.tab_menu{
  margin: 0 auto;
	width: 1520px;
}
.button{
	padding: 50px 0;
	box-sizing: border-box;
	text-align: center;
}
.button a{
	padding: 20px 50px;
	margin: 0 20px;
	border: 1px solid black; 
	border-radius: 20px;
	font-size: 20px;
}

.content{
	flex-flow: row wrap;
	justify-content: space-between;
	width: 1520px;
  margin: 0 auto;
}
.content li{
	outline: 1px solid red;
	width: calc((100%/4) - 40px);
	height: 300px;
	margin-top: 53.3333px;
  position: relative;
}
.content li:first-of-type,
.content li:nth-of-type(2),
.content li:nth-of-type(3),
.content li:nth-of-type(4){
  margin-top: 0;
}
.content li a {
	display: block;
	width: 340px;
	height: 300px;
	filter: grayscale(.5);
}
.content li a:hover{
	filter: grayscale(0);
	transition: filter .5s;
}
.content li a img{
	width: 100%;
	height: 100%;
}
.content li>a>div{
	position: absolute;
	top: 0;
	left: 0;
	width: 340px;
	height: 300px;
	line-height: 300px;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.3);
	opacity: 0;
	transition: opacity .5s;
}
.content li>a:hover>div{
	opacity: 1;
}
.content li>a>div>h2{
	font-size: 50px;
	color: #fff;
}
.content li>a>div>p{
	color: black;
	background-color: #fff;
	width: 150px;
	line-height: 50px;
	border: 2px solid #fff;
	border-radius: 15px;
	box-sizing: border-box;
	position: absolute;
	font-weight: bold;
}
#section0 h1,#section0 p,#section4 h1{
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
}
#section0 p{
  top: 60%;
}
#section1 h1{
	padding: 70px 0;
	box-sizing: border-box;
}
#section1 .about_wrap{
	width: 1520px;
	margin: 0 auto;
	flex-wrap: wrap;
	justify-content: space-between;
}
#section1 .about_wrap li{
	width: 760px;
}
#section1 .about_wrap li:nth-of-type(4) p~p:hover{
	text-decoration: underline;
}
#section1 .about_wrap li:nth-of-type(3),
#section1 .about_wrap li:nth-of-type(4){
	margin-top: 80px;
}
#section1 .about_wrap li:nth-of-type(2),
#section1 .about_wrap li:nth-of-type(4){
	margin-left: 0px;
}
#section1 .about_wrap li p{
	margin-bottom: 10px;
}
#section1 .about_wrap li p,
#section1 .about_wrap li p a{

	text-align: left;
	color: white;
	text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
}
#section1 .about_wrap li p:first-of-type{
	font-size: 50px;
}
#section1 .about_wrap li p:nth-of-type(2){
	margin-top: 30px;
}
#section1 .about_wrap li p~p{
	font-size: 25px;
}
.skill_content p{
	display: inline-block;
	margin: 0 10px;
	cursor: pointer;
}
.skill_content p img{
	width: 85px;
	height: 85px;
}
.skill_content p strong{
	color: #f2f2f2;
}
#section2 h1{
  padding-top:25px;
  box-sizing: border-box;
}
#section3 h1{
  padding: 70px 0;
  box-sizing: border-box;  
}